.coffee-image {
  float: left;
  margin-right: 20px; 
  width: 300px; 
  border-radius: 10px;
  
}
.welcome-message {
  padding-top: 10%;
  text-align: left;
  font-size: 60px;
  font-family: 'Lucida Handwriting';
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
  float:inline-start;
  padding-left: 5%;
}

form div {
  display: flex;
  flex-direction:column;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


#brand{
  width: 100%;
}

input[type="checkbox"] {
  margin-top: 10px;
  align-items: left;

}
input[type="checkbox"] {
  margin-top: 10px;
  align-items: left;

}
.single-origin {
  display: flex;
  align-items: center;
}

.single-origin label {
  margin-right: 10px; 
}

button {
  padding: 10px;
  border: none;
  padding-top: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px; 
  
}

button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}
.error {
  color: red;
  font-size: 14px;
}
